.gpt3__Possibility{
    display: flex;
    gap: 30px;
}

.gpt3__Possibility-left img{
    width: 550px;
}
.gpt3__Possibility-right{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-end;
    align-items: flex-start;
}
.gpt3__Possibility-right span{
    color: #71E5FF;
}
.gpt3__Possibility-right h3{
    background: var(--gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 34px;
    font-family: 800;
}
.gpt3__Possibility-right div{
    color: var(--color-text);
    font-size: 16px;
}
.gpt3__Possibility-right p{
color: var(--color-subtext);
margin-bottom: 70px;
}
@media (max-width:820px)
{
    .gpt3__Possibility-right {
        gap: 9px;
    }    
    .gpt3__Possibility-left img{
        width: 250px;
    }
    .gpt3__Possibility-right h3 {
        font-size: 22px;
    }
    .gpt3__Possibility-right div {
        font-size: 13px;
    }
}
@media (max-width:550px) {
    .gpt3__Possibility-left{
        display: none;
    }
}